jobs:
  include:
    - language: node_js
      dist: trusty
      cache: npm
      node_js: "12.13"
      install:
        - npm install --prefix client
      script:
        - npm run build --prefix client

    - language: java
      dist: trusty
      cache:
        bundler: true
        directories:
          - $HOME/.m2
          - $HOME/docker
      addons:
        apt:
          packages:
            - net-tools
      services:
        - docker
      jdk: oraclejdk8

      script:
        - export HOST_IP=$(ifconfig docker0 | awk -F":" '/inet addr:/ {print $2}')
        - echo $HOST_IP
        #- docker-compose -f ./docker/docker-compose.yaml up -d
        #- . ./docker/wait-for-grid.sh
        #- mvn clean test -Dtest.group=all --file server
        #- docker-compose -f ./docker/docker-compose.yaml down