matrix:
  include:
    - language: node_js
      dist: trusty
      cache: npm
      node_js: "12.13"
      install:
        - npm install --prefix client
      script:
        - npm run build --prefix client

    - language: java
      dist: trusty
      services:
        - docker
      before_install:
        - docker network create grid
        - docker run -d -p 4440:4440 --net grid --name selenium-hub selenium/hub:3.141.59-zirconium
        - docker run -d --net grid -e HUB_HOST=selenium-hub -v /dev/shm:/dev/shm selenium/node-chrome:3.141.59-zirconium
        - docker run -d --net grid -e HUB_HOST=selenium-hub -v /dev/shm:/dev/shm selenium/node-firefox:3.141.59-zirconium
      jdk: oraclejdk8

      script:
        - docker-compose -f ./docker/docker-compose.yaml up -d
        - mvn clean test -Dtest.group=all --file server